@font-face { font-family: "Roboto Light"; src: url("fonts/roboto-light.ttf"); }
@font-face { font-family: "Roboto"; src: url("fonts/roboto-regular.ttf"); }

*, *:before, *:after {
  font: 1em/1.2em "Roboto", Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #ededed;
  height: 100%;
  text-align: center;
  width: 100%;
}

::selection {
  background: #e29df9;
}

h1 {
  color: #fff;
  font: 2.7em/1em "Roboto Light", HelveticaNeue-Light, Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
  text-transform: uppercase;
  transition: letter-spacing 0.3s;
}

h2 {
  color: #e6b5f7;
  font: 1.5em/1.5em "Roboto Light", HelveticaNeue-Light, Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  margin-bottom: 40px;
}

h3 {
  color: #601c58;
  font: 2.2em/1.5em "Roboto Light", HelveticaNeue-Light, Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
  margin-bottom: 30px;
}

  h3, #section-ast {
    background: -webkit-linear-gradient(#601c58, #ca4aba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

p {
  color: #4f4d4f;
  font-size: 1.2em;
  line-height: 1.7em;
}

a {
  border-bottom: 1px dotted #4f4d4f;
  color: #4f4d4f;
  text-decoration: none;
  transition: all 0.3s;
}

  a:hover {
    border-bottom: 1px dotted #601c58;
    color: #601c58;
  }

#header-logo, #footer-logo {
  display: block;
  height: 106px;
  margin: auto;
  width: 106px;
}

header {
  background: #9a537a url(img/splash.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

  #header-overlay {
    background-image: linear-gradient(to bottom, rgba(219, 91, 165, 0.5) 0%, rgba(162, 23, 210, 0.5) 100%);
    padding: 50px 0 40px 0;
  }

  #header-logo {
    background: url(img/logo.png) no-repeat;
    margin-bottom: 50px;
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #header-logo {
      background: url(img/logo@2x.png) no-repeat !important;
      background-size: 106px 106px !important;
    }
  }

  .header-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4em;
    margin: 10px 15px;
    padding: 15px 0;
    text-decoration: none;
    transition: all 0.25s;
    width: 190px;
  }

    .header-btn:hover {
      background: rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid #fff;
      color: #fff;
    }

    #header-btn-more {
      font-family: "Roboto Light", HelveticaNeue-Light, Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
    }

section {
  padding: 40px 0;
}

  #section2 {
    background: #dedede;
  }

  #section-ast {
    font-size: 0.5em;
    position: relative;
    top: -0.8em;
  }

  #section-pic {
    margin: 30px 0;
    max-width: 100%;
    width: 500px;
  }

  #section-condition {
    font-size: 0.7em;
    color: #9c9c9c;
  }

footer {
  background: #311e34;
  padding: 85px 0 15px 0;
  text-align: center;
}

  #footer-logo {
    background: url(img/logo-mono.png) no-repeat;
    margin-bottom: 85px;
    cursor: pointer;
  }

    #footer-logo:hover {
      margin-top: -10px;
      margin-bottom: 95px;
    }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #footer-logo {
      background: url(img/logo-mono@2x.png) no-repeat !important;
      background-size: 106px 106px !important;
    }
  }

  #footer-copy {
    border: 0;
    font: 0.9em/1.2em "Roboto Light", HelveticaNeue-Light, Helvetica, "Segoe UI", Verdana, Arial, sans-serif;
    color: #9b9b9b;
  }

    #footer-copy:hover {
      color: #fff;
    }